/*colors*/
$color-black: #1a1818;
$color-grey: #aca9a9;
$color-dark-grey: #777373;
$color-light-grey: #f6f6f6;
$importance-1-background: #f8d7da;
$importance-1-color: #721c24;
$importance-2-background: #fff3cd;
$importance-2-color: #856404;
$importance-3-background: #cce5ff;
$importance-3-color: #004085;
$importance-4-background: #e2e3e5;
$importance-4-color: #383d41;
$color-error: #ff6347;